# .ultra.cache.json ## leave this for faster builds on CI/CD
node_modules
dist
.cache
*.log
.docz
.env
.env.development
.env.local
build
.DS_Store
gcp.*
.firebase
package-lock.json
.vs
.vscode
.idea
web/www/public
temp/
.ultra.cache.json
.eslintcache
tests/e2e/test-results
Documents/
.next
web/components/lib
.eslintcache                                                                                                                                                                 